@{
    ViewData["Title"] = "Ведутся работы";
 }   

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
</head>
<body id="bodyStub" class="Stub" >
    <div class="maintenance-container" id="stub">
        <img src="https://wiki.st-mobi.com/download/attachments/embedded-blogpost/ru/2022/03/16/%D0%92%D0%BD%D0%B5%D0%BF%D0%BB%D0%B0%D0%BD%D0%BE%D0%B2%D1%8B%D0%B5%20%D1%80%D0%B5%D0%B3%D0%BB%D0%B0%D0%BC%D0%B5%D0%BD%D1%82%D0%BD%D1%8B%D0%B5%20%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B%2019.03.2022/blog-techworks.png" alt="Ведутся технические работы" class="maintenance-image">
        <h1>Идут технические работы</h1>
        <p>Приносим извинения за временные неудобства. Наш сайт временно недоступен в связи с проведением плановых технических работ. Пожалуйста, зайдите позже.</p>
    </div>
</body>
</html>